<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBpPFeKpr7jyxqSU9iHmnu_8lP28yYqs3Y</string>
	<key>GCM_SENDER_ID</key>
	<string>515846350273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sn.ept.pic</string>
	<key>PROJECT_ID</key>
	<string>ept-app-46930</string>
	<key>STORAGE_BUCKET</key>
	<string>ept-app-46930.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:515846350273:ios:3a5ff476acbef81c43bb40</string>
</dict>
</plist>